.registr-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.msg-error {
  word-wrap: break-word;
  width: 100%;
  height: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
