.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table{
    width: 200px;
    height: 400px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: grab;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
